body 
{ 
    padding-top: 60px;
}

.form-horizontal .control-label 
{
    text-align: left;
}

.input-group-unstyled .input-group-addon {
    border: 0px;
    background-color: transparent;
}

.errors {
    color: red;
    margin-left: 45px;
    text-align: left;
}
.errors div {
    float: left;
}